<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.persist.kafkaMessage.KafkaMessageMapper">

    <sql id="Base_Column_List">
        id, topic, messageBody, messageByte,version,status,createTime,updateTime
    </sql>

    <insert id="insertKafkaMessage" parameterType="com.example.springboot.model.DO.kafkaMessage.KafkaMessageDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO  kafka_message (topic,messageBody,messageByte,status)
        VALUE (#{topic},#{messageBody},#{messageByte},${status})
    </insert>
</mapper>